/* General Styling */
body {
  font-family: "Arial", sans-serif;
  background-color: #f4f4f9;
  color: #333;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Navbar */
.navbar {
  background-color: #333;
  color: #fff;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  font-size: 20px;
  font-weight: bold;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
}

.navbar-links a:hover {
  text-decoration: underline;
}

/* Sidebar */
.sidebar {
  background-color: #444;
  color: #fff;
  width: 200px;
  height: calc(100% - 50px); /* Adjust based on the navbar height */
  position: fixed;
  top: 50px; /* Adjust based on the navbar height */
  left: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar-link {
  color: #fff;
  text-decoration: none;
  margin-bottom: 20px;
}

.sidebar-link:hover {
  text-decoration: underline;
}

/* Main Content */
.main-content {
  margin-left: 220px; /* Adjust based on the sidebar width */
  padding: 20px;
  flex: 1;
  overflow-y: auto;
}

/* Container */
.container {
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  margin-bottom: 20px;
}

/* Header */
h2 {
  color: #444;
  border-bottom: 2px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th,
td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f4f4f9;
}

td {
  background-color: #fff;
}

tbody tr:hover {
  background-color: #f1f1f1;
}

/* Buttons */
button {
  padding: 8px 12px;
  margin-right: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #ddd;
}

button.update {
  background-color: #4caf50;
  color: white;
}

button.delete {
  background-color: #f44336;
  color: white;
}

/* Form Styling */
form {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
}

textarea {
  resize: vertical;
}

button[type="submit"] {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  border: none;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Create Product Container */
.create-product-container,
.product-update {
  margin-top: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
